<div th:fragment="header">
  <!-- Google Fonts vintage -->
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Great+Vibes&display=swap"
    rel="stylesheet"
  />

  <nav class="navbar navbar-expand-lg px-3" style="background-color: #5c3a21">
    <!-- LOGO -->
    <a
      class="navbar-brand"
      href="/"
      style="
        font-family: &quot;Great Vibes&quot;, cursive;
        font-size: 2.5rem;
        color: #f4e1c1;
      "
    >
      🥖 Boulangerie Baron
    </a>

    <!-- bouton mobile -->
    <button
      class="navbar-toggler text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      ☰
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse justify-content-end" id="navMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link mx-2"
            href="/"
            style="font-family: &quot;Cinzel&quot;, serif; color: #f4e1c1"
          >
            Accueil
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle mx-2"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            style="font-family: &quot;Cinzel&quot;, serif; color: #f4e1c1"
          >
            Produits
          </a>

          <ul class="dropdown-menu" style="background-color: #f4a261">
            <li>
              <a class="dropdown-item" href="/produits">Tous les produits</a>
            </li>
            <li><a class="dropdown-item" href="/pains">🥖 Pains</a></li>
            <li>
              <a class="dropdown-item" href="/viennoiseries"
                >🥐 Viennoiseries</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/patisseries">🍰 Pâtisseries</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link mx-2"
            href="/contact"
            style="font-family: &quot;Cinzel&quot;, serif; color: #f4e1c1"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
